<template>
  <div class="not-found-view">
    <div class="not-found-view__content">
      <p>
        Sorry, it looks like we couldn't find what you're looking for.
        <br />
        Click the button below to go back.
      </p>
      <v-button :onClick="onBackButton">Return to the app</v-button>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      onBackButton() {
        this.$router.push("/");
      }
    }
  };
</script>
