<template>
  <div id="app" class="app">
    <notification />
    <app-layout v-if="!notFound" />
    <not-found-view v-if="notFound" />
  </div>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";
  import AppLayout from "@/layouts/AppLayout";
  import NotFoundView from "@/views/NotFound";
  import Notification from "@/components/Notification/";

  export default {
    name: "app",

    components: {
      AppLayout,
      NotFoundView,
      Notification
    },

    computed: {
      ...mapGetters({
        notFound: "app/notFound",
        notifications: "notification/getNotifications"
      })
    },

    methods: {
      ...mapActions({
        init: "app/init",
        removeNotification: "notification/removeNotification"
      })
    },

    created() {
      this.init();
    }
  };
</script>
