<template>
  <div class="app-layout">
    <navbar />
    <div class="app-layout__wrap">
      <sidebar />
      <div class="app-layout__main">
        <router-view />
      </div>
    </div>
    <player />
  </div>
</template>

<script>
  import Navbar from "@/components/Navbar";
  import Sidebar from "@/components/Sidebar";
  import Player from "@/components/Player";

  export default {
    name: "AppLayout",

    components: {
      Navbar,
      Sidebar,
      Player
    }
  };
</script>